logs:
  # Log level available log levels: debug, info, warn, error, fatal, panic
  level: debug
  # Log to file, if no file is specified the logs will be printed to stdout
  file: /var/log/polochon.log
watcher:
  fsnotifier: fsnotify
  dir: /home/user/downloads
downloader:
  enabled: false
  timer: 4h
  client: transmission
  download_dir: /home/user/downloads
  cleaner:
    enabled: true
    timer: 35s
    ratio: 0
    trash_dir: /home/user/trash-dir
http_server:
  port: 8080
  host: localhost
  enable: true
  serve_files: true
  basic_auth: true
  basic_auth_user: toto
  basic_auth_password: tata
wishlist:
  wishlisters:
  - imdb
  - canape
  show_default_qualities:
  - 720p
  - 480p
  - 1080p
  movie_default_qualities:
  - 1080p
  - 720p
video:
  guesser: openguessit
  notifiers:
  - pushover
  exclude_file_containing:
  - sample
  allowed_file_extensions:
  - .avi
  - .mkv
  - .mp4
  allowed_file_extensions_to_delete:
  - .srt
  - .nfo
  - .txt
  - .jpg
  - .jpeg
  subtitle_languages:
  - fr_FR
  - en_US
modules_params:
  - name: transmission
    url: http://mytransmission.com/transmission/rpc
    check_ssl: false
    basic_auth: true
    user: myUser
    password: myPassword
  - name: pushover
    key: sdf7as8f8ds7f9sf
    recipient: 9327a472s3947234792
  - name: addicted
    lang: fr_FR
  - name: opensubtitles
    user: opensubtitle@canapeapp.com
    lang: en_US
    password: my@w3$0m3p@$$w0rD
  - name: imdb
    user_ids:
    - ur78342023
  - name: yifysubs
    lang: fr_FR
  - name: canape
    wishlists:
    - url: https://canapeapp.com
      token: 5O32q4D6jlqj492374923749234Kso4aZtarEsAfaJs=
  - name: tmdb
    apikey: my@w3$0m3@pIk3y
show:
  calendar: tvdb
  dir: /home/user/tvshows
  torrenters:
    - eztv
  detailers:
    - tvdb
  subtitlers:
    - addicted
movie:
  dir: /home/user/movies
  torrenters:
    - yts
  detailers:
    - tmdb
  subtitlers:
    - yifysubs
    - opensubtitles
